body {
    background-image: url('https://mdbootstrap.com/img/new/fluid/city/005.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh; 
    padding: 0; /* Elimina el relleno para evitar espacios innecesarios */
    margin: 0; /* Elimina los márgenes para un aspecto más limpio */
}

  span {
    font-size: 16px; 
    font-weight: bold; 
    color: hsl(210, 50%, 99%); 
}

nav {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    text-align: center; /* Centra los elementos hijos horizontalmente */
    border-radius: 4%;
    color: hsl(210, 50%, 99%); 
    font-size: 24
px;
}



